body {margin:0px;background:#FFF;}
a:link,a:visited {font-size:12px;text-decoration: none;}
a:hover{}

#container
{
	margin: 0 auto;
	width: "100%";
	background: #fff;
}



table {
	font: 14px verdana, arial, helvetica, sans-serif;
	border-width: 0px;
	border-color: #030;
	border-style: solid;
	color: #242;
	/*background-color: #ada;*/
	background-color: beige;
	/*width: 100%;
	height:5%;*/
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}
 
table th {
 
}
 
table tr td {
	/*background-color: red;
	border-top:1px groove orange;
	border-bottom:1px groove orange;*/
	margin: 1px;
	padding: 0px;
}

