<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver">
		</property>
		<property name="url"
			value="jdbc:oracle:thin:@172.16.201.3:1528:sncprod">
		</property>
		<property name="username" value="pcbvi"></property>
		<property name="password" value="pv70d3450"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource"></ref>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.Oracle9Dialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/vi/pojo/TabWorkstation.hbm.xml</value>
				<value>com/vi/pojo/ErrMsg.hbm.xml</value>
				<value>com/vi/pojo/TabTested.hbm.xml</value>
				<value>com/vi/pojo/Vtested.hbm.xml</value>
				<value>com/vi/pojo/VFailure.hbm.xml</value>
				<value>com/vi/pojo/VPo.hbm.xml</value>
				<value>com/vi/pojo/VFidHist.hbm.xml</value>
				<value>com/vi/pojo/TabViPo.hbm.xml</value>
				<value>com/vi/pojo/SvgFile.hbm.xml</value></list>
		</property></bean>
	<bean id="tabWorkstationDAO"
		class="com.vi.dao.TabWorkstationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="formData" class="com.vi.data.FormData"/>
	<bean id="failureReportData" class="com.vi.data.FailureReportData"/>
	<bean id="errMsgDAO" class="com.vi.dao.ErrMsgDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="tabTestedDAO" class="com.vi.dao.TabTestedDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="vtestedDAO" class="com.vi.dao.VtestedDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="vFailureDAO" class="com.vi.dao.VFailureDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="vPoDAO" class="com.vi.dao.VPoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="vFidHistDAO" class="com.vi.dao.VFidHistDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="tabViPoDAO" class="com.vi.dao.TabViPoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="svgFileDAO" class="com.vi.dao.SvgFileDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>